<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
  <form class="form-horizontal" method="post">
    <fieldset>
    <legend>Mongo Status</legend>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">gen syslog</button>
    </div></fieldset>


    <td id="query_mark1">*</td>
    <td id="query_mark2">*</td>
    <td id="query_mark3">*</td>
    <td id="query_mark4">*</td>
    <td id="query_mark5">*</td>
    <td id="query_mark6">*</td>
    <td id="query_mark7" style="color: red" >#</td>
    <td id="query_mark8" style="color: blue">*</td>

  </form>
  <!--這一段是存在的-->

</body>
</html>
